.sidenav {
  &-img {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    img {
      width: 52px;
      bottom: 8px;
    }
  }
  &-item:hover {
    &::before {
      position: absolute;
      left: 0;
      content: " ";
      width: 4px;
      height: 32px;
      background: $success;
    }
  }
}
